body{
  font-family: Arial, black, sans-serif;

  font-size: 100%;

  width: 1460px;

  margin: 0 auto;
  background-color: rgb(242, 233, 223);
  /*border: 3px solid #13b1e1;*/

}
h1{
    color:rgb(143, 133, 106);
    font-size:55px;
    text-align: center;
}
h2{
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  
  #nav_menu ul {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    opacity: 0.7;
}
#nav_menu ul li {
    flex-basis: 20%;
}
#nav_menu ul li a {
    display: block;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: rgb(128, 179, 176);
    color: white;
    font-weight: bold;
}
#nav_menu a.current {
	color: white;
}
#nav_menu ul ul {
	width: 100%;
    display: none;
    position: absolute;
    top: 100%;
}
#nav_menu ul li:hover > ul {
	display: block;
  background-color: rgb(1, 132, 255);
    color: white;
}
#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}
#nav_menu ul li ul {
    width: 20%;
}
 /* Change the color of links on hover*/
 #nav_menu a:hover {
    background-color: rgb(1, 132, 255);
    color: white;
  }
  section {
    width: 575px;
    float: left;
    padding: 0 20px 20px 20px;
  }
  section h2 {
    font-size: 150%;
    padding: .5em 0 .25em 0;
    margin: 0; 
  }
  section p {
    padding-bottom: .5em;
  }
  article {
    padding: .5em 0;
    border:2px solid #069bae;
    line-height: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  aside {
    width: 215px;
    float: right;
    /*padding: 0 0 20px 20px;*/
  }
  
  aside img {
    float: right;
    padding-bottom: 1em;
    width:750px;
    height: 600px;
  }
 footer {
      background-color:rgb(242, 233, 223);
      clear: both;
    
    }
    footer p {
      text-align: center;
      color: rgb(7, 7, 7);
      padding: 1em 0;
    }
  @media only screen and (max-width: 620px) {
    .aside, .section, .nav_menu, h1, h2 {
      width: 100%;
    }
  }
